* { margin: 0; 
    padding: 0;
    border: 0; 
}
#area{
    display: none;
}
#formularios {
    display: none;
    text-align: center;
    
    flex-direction: column;
}
.onTeclado {
    width: 60px;
    height: 20px;
    box-shadow: 0  3px 0 rgba(133, 117, 144, 0.7);
}
.onTeclado:hover{
    background: #ccc;
    box-shadow: 0  3px 0 rgba(133, 117, 144, 0.7);
}
.onTeclado:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
.offTeclado {
    width: 60px;
    height: 20px;
}
.offTeclado:hover {
    background: #ccc;
    box-shadow: 0  3px 0 rgba(133, 117, 144, 0.7);
}
.offTeclado:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
#teclado { 
    width: 800px; 
}
#teclado fieldset { 
    width: 942px; 
    text-align: center; 
    float: left; 
    margin: 2px; 
}
fieldset { 
    margin: 5px; 
}
#teclado input { 
    background: #fff; 
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0  3px 0 rgba(133, 117, 144, 0.7);

}
#teclado input:hover {
    background: #ccc;
    box-shadow: 0  5px 0 rgba(99, 47, 134, 0.7);
}
#teclado input:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
